<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div style="margin-bottom: 10px; font-size: 14px; color: gray;">
    Ваш ID: <span id="user-id"></span>
</div>

<script>
    let userId = localStorage.getItem("digital_bank_user_id");

    if (!userId) {
        userId = "не найден";
    }

    document.getElementById("user-id").textContent = userId;
</script>

<header>
    <h1>Личный кабинет</h1>
    <a href="/">На главную</a>
</header>

<main>
    <section class="tables">
        <h2>Игровые столы</h2>
        <ul></ul>
    </section>

    <a href="/transactions" class="btn">Транзакции</a>
</main>

<script src="/static/dashboard.js"></script>
</body>
</html>


